
<div id="total-hits">
  <p class="number-of"><%=@hits.size%></p>
  <p class="caption">hits</p>
</div>

<div id="placeholder">
  &nbsp;
</div>

<%= paginate @hits %>
<table id="hits">
  <thead>
    <th>IP</th>
    <th>Page</th>
    <th>Time ago</th>
    <th>Referer</th>
    <th>User-Agent</th>
  </thead>
  <tbody>
    <% @hits.each do |hit| %>
    <tr class="<%= cycle("even", "odd") %>">
      <th>
        <a href="http://www.maxmind.com/app/locate_demo_ip?ips=<%= hit.ip %>">
          <%= hit.ip %>
        </a>
      </th>
      <td class="hit">
        <a href="<%= hit.url %>" title="<%= hit.url %>">
          <%= truncate hit.url, :length => 50 %>
        </a>
      </td>
      <td>
          <span title="<%= hit.created_at %>">
            <%= distance_of_time_in_words(hit.created_at.to_i, Time.now.to_i) %>
          </span>
      </td>
      <td>
        <a href="<%= hit.referrer %>" title="<%= hit.referrer %>">
          <%= truncate(hit.referrer).blank? ? "—": truncate(hit.referrer) %>
        </a>
      </td>
      <td>
        <span title="<%= hit.browser %>">
          <%= truncate hit.browser, :length => 40 %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @hits %>
