<!DOCTYPE html>
<html>
  <head>
    <title>Real time ugly stats</title>
  </head>
  <body>
    <h1>HitController#list</h1>
    <p>Find me in app/views/hit_controller/list.html.erb</p>
    <hr/>
    <p><%=@hits.size%> hits</p>
    <table>
      <thead>
        <th>When</th>
        <th>URL</th>
        <th>IP</th>
        <th>Referer</th>
        <th>User-Agent</th>
      </thead>
      <tbody>
      <% @hits.each do |hit| %>
        <tr>
          <td><%= hit.created_at%></td>
          <td><%= hit.url%></td>
          <td><%= hit.ip%></td>
          <td><%= hit.referer%></td>
          <td><%= hit.browser%></td>
        </tr>
      <% end %>
      </tbody>
  </body>
</html>
