<!DOCTYPE html>
<html>
  <head>
    <title>Real time ugly stats</title>
  </head>
  <body>
    <h1>HitController#list</h1>
    <p>Find me in app/views/hit_controller/list.html.erb</p>
    <hr/>
    <p><%=@hits.size%> hits</p>
    <%= paginate @hits %>
    <table id="hits">
      <thead>
        <th>&nbsp;</th>
        <th>Page</th>
        <th>When</th>
        <th>Referer</th>
        <th>User-Agent</th>
      </thead>
      <tbody>
      <% @hits.each do |hit| %>
        <tr class="<%= cycle("even", "odd") %>">
          <th><%= hit.ip %></th>
          <td class="hit">
            <%= link_to truncate(hit.url), hit.url %>
          </td>
          <td><%= hit.created_at %></td>
          <td>
            <a href="<%= hit.referrer %>">
              <%= truncate hit.referrer %>
            </a>
          </td>
          <td>
            <span title="<%= hit.browser %>">
              <%= truncate hit.browser %>
            </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @hits %>
  </body>
</html>
